$main_color: #201f30;
$main_color_bright: #2f2e47;
$main_color_dark: #11111a;
$secondary_color: #ffffff;
$positive: #6fe486;
$positive_dark: #2a7735;
$negative: #f09292;
$negative_dark: #b42727;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $main_color;
}

.header {
    padding: 20px 0px;
    background-color: $main_color_dark;
    border-bottom: 1px solid #000000;
}

.content {
    padding: 50px 0px;
    height: 1000px;
    background-color: $main_color_bright;
}

.content_auth {
    padding: 50px 0px;
    height: 1000px;
    background-color: $main_color_bright;
    h3 {
        color: #202020;
    }
    h4 {
        color: #5f5f5f;
        font-size: 12px;
    }
}

.auth_text {
    border-bottom: 1px solid $main_color;
    margin-bottom: 25px;
}

.footer {
    background-color: $main_color;
    height: 400px;
    color: white;
}

.logo_main_container {
    align-items: center;
}

.logo_main {
    margin-left: 20px;
    width: 50px;
}

.forgot_pass {
    font-size: 10px;
}

.auth_form {
    max-width: 500px;
    border-radius: 3px;
    background-color: $secondary_color;
    margin: 20px 0px;
    padding: 25px;
    input {
        height: 40px;
        margin-bottom: 12px;
        border: 1px solid #6e7571;
        border-radius: 2px;
        text-indent: 5px;
        &::-webkit-input-placeholder {
            font-size: 13px;
            font-family: monospace sans-serif;
            padding: 2px;
            color: #b8b6b6;
        }
        &:focus {
            outline: 0;
            border-color: $positive;
        }
    }
    .menu_button {
        margin-top: 15px;
        border: 0px;
    }
}

.menu_button {
    text-decoration: none;
    font-family: monospace sans-serif;
    font-size: 11px;
    text-align: center;
    border: 0px;
    color: $secondary_color;
    background-color: $main_color_dark;
    width: 100%;
    min-height: 50px;
    &:focus {
        outline: 0;
    }
    &:active {
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:0s;
        background-color: $secondary_color;
        color: $main_color;
    }
    &:hover {
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
        background-color: $positive;
        color: $main_color;
    }
    cursor: pointer;
}

.error {
    border: 1px solid $negative_dark;
    border-radius: 3px;
    background-color: $negative;
    color: $negative_dark;
    padding: 5px;
    margin-bottom: 0px;
    font-family: monospace sans-serif;
    font-size: 14px;
}

.success {
    border: 1px solid $positive_dark;
    border-radius: 3px;
    background-color: $positive;
    color: $positive_dark;
    padding: 5px;
    margin-bottom: 0px;
    font-family: monospace sans-serif;
    font-size: 14px;
}