$main_color: #202b35;
$main_color_bright: #2f2e47;
$main_color_dark: #11111a;
$secondary_color: #ffffff;
$positive: #6fe486;
$positive_dark: #2a7735;
$blue: #5380c4;
$negative: #f09292;
$negative_dark: #b42727;
$grey: #cccccc;
$grey_dark: #929191;

$basic_font: 'Comic sans MS';

.preview {
    background-color: #d1d1d1;
    width: 100%;
    height: auto;
}

body {
    background-color: $main_color;
    color: $secondary_color;
}

.header {
    padding: 0px 0px;
    background-color: $main_color_dark;
    border-bottom: 1px solid #000000;
}

.content {
    padding: 50px 0px;
    background-color: $main_color_bright;
}

.content_auth {
    padding: 50px 0px;
    height: 1000px;
    background-color: $main_color_bright;
}


.auth_text {
    border-bottom: 1px solid $main_color;
    margin-bottom: 25px;
}

.logo_main_container {
    align-items: center;
}

.logo_main {
    display: block;
    max-width: 50px;
    width: 100%;
    margin: auto;
}

.forgot_pass {
    font-size: 10px;
    font-family: monospace sans-serif;
}

.auth_form {
    width: 100%;
    border-radius: 3px;
    background-color: $secondary_color;
    margin: 20px 0px;
    padding: 25px;
    h3 {
        color: #202020;
    }
    h4 {
        color: #5f5f5f;
        font-size: 12px;
    }
    h5 {
        color: #202020;
        font-size: 13px;
        padding-top: 10px;
        text-align: justify;
    }
    input {
        padding: 10px;
        margin-bottom: 12px;
        border: 1px solid #6e7571;
        border-radius: 2px;
        &::-webkit-input-placeholder {
            font-size: 13px;
            font-family: monospace sans-serif;
            padding-left: 2px;
            color: #b8b6b6;
        }
        &:focus {
            outline: 0;
            border-color: $positive;
        }
    }
    .menu_button {
        margin-top: 15px;
        border: 0px;
    }
}

.menu_button {
    border-radius: 0px;
    text-decoration: none;
    font-family: monospace sans-serif;
    font-size: 11px;
    text-align: center;
    border: 0px;
    color: $secondary_color;
    background-color: $main_color_dark;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    &:focus {
        outline: 0;
    }
    &:active {
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:0s;
        background-color: $secondary_color;
        color: $main_color;
    }
    &:hover {
        text-decoration: none;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
        background-color: $positive;
        color: $main_color;
    }
    &:disabled {
        background-color: rgb(128, 128, 128);
        color: black;
        cursor: not-allowed;
    }
    cursor: pointer;
}

.control_bar{
    height: 800px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid $main_color;
    border-bottom: 1px solid $main_color;
    border-left: 1px solid $main_color;
    background-color: $secondary_color;
}

.control_bar_button {
    height: 50px;
    border: 0px;
    font-weight: bold;
    border-top-left-radius: 3px;
    font-size: 13px;
    font-family: monospace sans-serif;
    color: $main_color;
    text-decoration: none;
    padding: 15px 15px;
    &:focus {
        outline: 0;
    }
    &:active {
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:0s;
        background-color: $secondary_color;
        color: $main_color;
    }
    &:hover {
        color: $main_color;
        text-decoration: none;
        border-left: 3px solid $positive_dark;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
        background-color: $positive;
        color: $main_color;
    }
    cursor: pointer;
}

.content_container {
    height: 800px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid $main_color;
    background-color: $secondary_color;
}

.add_photo {
    background-color: $secondary_color;
    border: 1px solid $main_color;
    padding: 50px;
    border-radius: 0px;
}

.choose_file {
    margin: 15px 0;
    label {
        padding: 10px 0;
        background-color: $main_color_dark;
        text-align: center;
        color: $secondary_color;
        &:hover {
            -o-transition:.5s;
            -ms-transition:.5s;
            -moz-transition:.5s;
            -webkit-transition:.5s;
            transition:.5s;
            background-color: $blue;
        }
        &:disabled {
            background-color: rgb(128, 128, 128);
            color: black;
            cursor: not-allowed;
        }
        cursor: pointer;
    }
}

.error {
    border: 1px solid $negative_dark;
    border-radius: 3px;
    background-color: $negative;
    color: $negative_dark;
    padding: 5px;
    margin-bottom: 0px;
    font-family: monospace sans-serif;
    font-size: 14px;
}

.success {
    border: 1px solid $positive_dark;
    border-radius: 3px;
    background-color: $positive;
    color: $positive_dark;
    padding: 5px;
    margin-bottom: 0px;
    font-family: monospace sans-serif;
    font-size: 14px;
}

.img_galerie {
    width: 100%;
    height: auto;
    &:hover {
        opacity: 0.7;
        background-color: #910909;
    }
}

.galerie {
    margin-bottom: 30px;
    img {
        margin-top: 30px;
    }
}

.pic_container {
    color: $main_color;
    margin-top: 25px;
    background-color: $secondary_color;
    .pic_section {
        padding: 0;
        border-right: 1px solid $grey;
    }
    .comment_section {
        padding: 15px 15px 0 15px;
        p {
            padding: 0px;
        }
    }
    img {
        padding: 0;
        height: auto;
    }
    label {
        margin: 0;
    }
    p {
        margin: 0;
    }
    .pic_footer {
        padding: 0 10px;;
    }
    .data {
        margin-bottom: 5px;
        padding: 0px;
    }
    .react {
        margin: 3px 0 0 0;
        i {
            margin: 0 5px;
            cursor: pointer;
        }
    }
    .author {
        margin-top: 8px;
        font-weight: bold;
        font-size: 21px;
        margin-bottom: 5px;
        padding-top: 0;
    }
    .date {
        margin: 0;
        font-size: 11px;
        color: $grey_dark;
    }
    .desc {
        margin: 10px 0;
    }
    .form_com {
        padding: 0;
    }
    input {
        margin-bottom: 0;
        margin-top: auto;
        padding: 0;
        border: 0;
        &::-webkit-input-placeholder {
            font-size: 13px;
            font-family: monospace sans-serif;
            color: #b8b6b6;
        }
        &:focus {
            outline: 0;
        }
    }
    .img_div {
        padding: 0;
    }
    .likes {
        font-weight: bold;
    }
}

.landing_page {
    .title_strip {
        .title {
            padding-top: 50px;
        }
        margin: 0;
        background-image: url('../img/bg.jpg');
        background-size: cover;
        background-position: left bottom;
        height: 500px;
    }
    font-family: $basic_font;
    h1 {
        color: $secondary_color;
        font-family: $basic_font;
    }
}

.footer {
    margin-top: 15vh;
    p {
        margin:0;
    }
    .infos {
        width: 80%;
        margin: 10px auto;
        text-align: center;
        a {
            color: $grey;
            font-family: $basic_font;
            font-size: 11px;
            margin: 0 5px;
        }
    }
    .copyright {
        text-align: center;
        font-size: 13px;
        color: $secondary_color;
        background-color: $main_color_dark;
    }
}